img {
  padding-top: 20px;
  cursor: pointer;
  &:hover {
    width: 30.1%;
    height: 10.1%;
    filter: blur(2px);
    filter: grayscale(1);
    filter: saturate(2.2);
  }
}

.logo {
  -webkit-animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
}

@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
}
