$fontsFolderPath: '/assets/fonts';
// Import all Framework Styles
@import '~@squidit/css/src/scss/squid.scss';

html, body {
  background-image: url('./assets/images/background.svg');
  height: 100%;
  width: 100%;
}
